<p>Modify owner panel</p>

<div>
  <form>

    <table>

      <tr>
        <td>
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input [(ngModel)]="owner.name" placeholder="First Name" name="firstName" class="form-control" id="firstName">
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input [(ngModel)]="owner.surname" placeholder="Last name" name="lastName" class="form-control" id="lastName">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label for="lastName">Email address:</label>
            <input [(ngModel)]="owner.email" placeholder="Email" name="email" class="form-control" id="lastName">
          </div>
        </td>
      </tr>

    </table>

    <button class="btn btn-success" (click)="modifyOwner()"> Modify OwnerDTO</button>

  </form>
</div>
