<p>poll-form works!</p>

<td>
  <mat-button-toggle-group #vote="matButtonToggleGroup" name="fontStyle" aria-label="Font Style"
<!--                           [value]="selectedValue(owner.list_of_votes)"-->
<!--                           (click)="onClick(owner.property, vote.value,  owner.participation, owner.list_of_votes  )"-->
<!--                           [disabled]="!authService.isLoggedInAdmin()">-->
<!--    <mat-button-toggle value="TAK">+</mat-button-toggle>-->
    <mat-button-toggle value="NIE">-</mat-button-toggle>
    <mat-button-toggle value="WSTRZY">0</mat-button-toggle>
  </mat-button-toggle-group>
</td>
