mat-button-toggle-group {
  box-shadow: none;
}

mat-button-toggle {
  border: 1px #000 solid !important;
  border-radius: 5px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 5px !important;
  padding: 0 15px !important;
  margin: 5px;

  z-index: 3 !important;
  height: 35px;
  width: 55;
}

mat-button-toggle:hover {
  border: 1px #000 solid !important;
  background-color: rgb(97, 96, 96) !important;
  border-radius: 5px !important;
  color: rgb(247, 244, 244) !important;
}

.mat-button-toggle-checked {
  border: 1px #000 solid !important;
  border-radius: 5px !important;
  background-color: rgb(85, 84, 84) !important;
  color: rgb(247, 244, 244) !important;
}


.mat-button-toggle-input {
  background-color: none !important;
  padding-left: 32px !important;
}

li {
  list-style-type: none;
}

table {
  width: 75%;
  text-align: left;
}
