<div class="col-md-6">
  <h2> Voting on the resolution / Głosowania nad uchwałą : </h2>
  <h4>   {{resulutionSymbol}} / {{resulutionTitle}}  / {{resulutionYear}}  </h4>
  <h4>   {{resolutionID}} </h4>

  <table class="table table-striped">

    <tr>
      <th class="hidden">Id</th>
      <th>typ</th>
      <th>symbol</th>
      <th>participation</th>
      <th>vote</th>
    </tr>

    <tbody>
      <tr *ngFor="let property of properties ">
        <td>{{property.id}}</td>
        <td>{{property.type}}</td>
        <td>{{property.symbol}}</td>
        <td>{{property.participation}}</td>
        <td>
          <mat-button-toggle-group #vote="matButtonToggleGroup" name="fontStyle" aria-label="Font Style"
                (click)="onClick( property.id, vote.value)"
                     >

            <!--                           [value]="selectedValue(owner.list_of_votes)"-->
            <!--                           [disabled]="!authService.isLoggedInAdmin()">-->
            <mat-button-toggle value="TAK">+</mat-button-toggle>
            <mat-button-toggle value="NIE">-</mat-button-toggle>
            <mat-button-toggle value="WSTRZY">0</mat-button-toggle>
          </mat-button-toggle-group>
        </td>

      </tr>
    </tbody>

  </table>

</div>
