<div class="col-md-6">
  <h2> Polls / Głosowania </h2>

  <table class="table table-striped">

    <tr>
      <th class="hidden">Id</th>
      <th>id_Resolution</th>
      <th>id_Property</th>
      <th>id_Owner</th>
      <th>vote</th>
    </tr>

    <tbody>
    <tr *ngFor="let pollOnFront of pollsOnFront ">
      <td>{{pollOnFront.id}}</td>
      <td>{{pollOnFront.resolution}}</td>
      <td>{{pollOnFront.property}}</td>
      <td>{{pollOnFront.ownerSurname}}</td>
      <td>{{pollOnFront.vote}}</td>
    </tr>
    <tr *ngFor="let poll of polls ">
      <td>{{poll.id}}</td>
      <td>{{poll.propertyid}}</td>
      <td>{{poll.resolutionid}}</td>
      <td>{{poll.vote}}</td>
    </tr>
    </tbody>

  </table>
</div>


