<div class="col-md-6">
  <h2> Polls / Głosowania </h2>

  <table class="table table-striped">

    <tr>
      <th class="hidden">Id</th>
      <th>id_Resolution</th>
      <th>id_Property</th>
      <th>id_Owner</th>
      <th>yes</th>
      <th>against</th>
      <th>abstention</th>
    </tr>

    <tbody>
    <tr *ngFor="let poll of polls ">
      <td>{{poll.id}}</td>
      <td>{{poll.resolutionid}}</td>
      <td>{{poll.propertyid}}</td>
      <td>{{poll.ownerid}}</td>
      <td>{{poll.yes}}</td>
      <td>{{poll.against}}</td>
      <td>{{poll.abstention}}</td>
    </tr>
    </tbody>

  </table>
</div>
